:root {
    --primary: #0c8eeb;
    --success: #058b5c;
    --danger: #ed5012;
    --primary-hover: #077acb;
    
    --border-color: rgba(0, 0, 0, 0.1);
    --border-hover-color: rgba(0, 0, 0, 0.18);
}

*,
*::before,
*::after
{
    box-sizing: border-box;
}

/* Utilities */
h2 {
    font-weight: 400;
    font-size: 1.7rem;
}

.text-center {
    text-align: center;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-size: 1rem;
    background-color: #f7f7f7;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    padding: 30px 15px;
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    margin: auto;
    min-height: 100vh;
}

/* Form floating input */
.input-group {
    position: relative;
    margin: 20px 0;
}

.input-group input {
    width: 100%;
    font-size: 1rem;
    padding: 20px 10px 5px 10px;
    background: transparent;
    border: 2px solid var(--border-color);
    outline: none;
    border-radius: 5px;
}

.input-group input:focus {
    border-color: var(--border-hover-color);
}

.input-group input::placeholder {
    color: transparent;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1rem;
    padding: 0 5px;
    pointer-events: none;
    transition: .2s;
}

.input-group input:focus~label {
    top: 25%;
    left: 5px;
    font-size: 0.8rem;
    background: #fff;
}

.input-feedback {
    display: none;
    font-size: small;
}


@media (min-width: 768px) {
    .container {
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        min-height: auto;
        padding: 20px
    }
}