:root {
    --primary: #0c8eeb;
    --success: #058b5c;
    --danger: #ed5012;
    --primary-hover: #077acb;
    
    --border-color: rgba(0, 0, 0, 0.1);
    --border-hover-color: rgba(0, 0, 0, 0.18);
}

*,
*::before,
*::after
{
    box-sizing: border-box;
}

/* Utilities */
h1 {
    font-weight: 400;
    font-size: 1.8rem;
}

.text-center {
    text-align: center;
}

.panel {
    margin: 15px 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-size: 1rem;
    background-color: #f7f7f7;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    padding: 30px 15px;
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    margin: auto;
    min-height: 100vh;
}

/* Form floating input */
.input-group {
    width: 100%;
    max-width: 465px;
    display: block;
    margin: 15px auto;
}

.floating-input {position: relative;}

.floating-input input {
    width: 100%;
    font-size: 1rem;
    padding: 20px 10px 5px 10px;
    background: transparent;
    border: 2px solid var(--border-color);
    outline: none;
    border-radius: 5px;
}

.floating-input input::placeholder {
    color: transparent;
}

.floating-input label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1rem;
    padding: 0 5px;
    pointer-events: none;
    transition: .2s;
}

.floating-input input:not(:placeholder-shown) + label,
.floating-input input:focus + label {
    top: 25%;
    left: 5px;
    font-size: 0.8rem;
}

.input-feedback {
    display: none;
    font-size: small;
}


.is-invalid input {border-color: var(--danger);}
.is-invalid .input-feedback {display:block; color: var(--danger);}

.is-valid input {border-color: var(--success);}
.is-valid .input-feedback {display:block; color: var(--success);}

/* Button */
.btn {
    width: 100%;
    max-width: 300px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
}

.btn-primary {background-color: var(--primary);color: #fff;}
.btn-primary:hover, .btn-primary:active {background-color: var(--primary-hover);}


@media (min-width: 768px) {
    .container {
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        min-height: auto;
        padding: 20px
    }
}