{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block container %}
    <h2 class="text-center">Login</h2>
    <form action="/login" method="post">

        <div class="panel">
            <div class="form-floating">
                <input type="email" name="email" class="form-control" id="email" placeholder="Email" autocomplete="off" autofocus>
                <label for="email" class="form-label">Email</label>
            </div>
            <div class="invalid-feedback">Please enter your email!</div>
        </div>

        <div class="panel">
           
            <div class="form-floating">
                <input type="password" name="password" class="form-control" id="password" placeholder="Password" autocomplete="off">
                <label for="password" class="form-label">Password</label>
            </div>
            <div class="valid-feedback">Strong Password!</div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <p class="text-center">Don't have an account? <a href="/signup" title="Signup">signup</a></p>
    </form>
{% endblock %}

{% block js %}
    <script src="/static/js/login.js"></script>
{% endblock %}