{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block container %}
    <h2 class="text-center">Login</h2>

    <form action="/login" method="post">

        <div class="input-group">
            <input type="email" name="email" placeholder="Email" id="email" autocomplete="off" autofocus>
            <label for="email">Email</label>
            <small class="input-feedback" for="email"></small>
        </div>

        <div class="input-group">
            <input type="password" name="password" placeholder="Password" id="password" autocomplete="off">
            <label for="password">Password</label>
            <small class="input-feedback" for="password"></small>
        </div>


    </form>
{% endblock %}

{% block js %}
    <script src="/static/js/login.js"></script>
{% endblock %}