{% extends 'base.html' %}

{% block title %}
    Signup
{% endblock %}

{% block container %}
   
    <!--Tab 1: Name And Email-->
    <section id="tab-1" class="tab-content">
        <div class="panel text-center">
            <h1>Signup</h1>
        </div>

        <div class="input-group has-validation" id="namePanel">
            <div class="floating-input">
                <input type="text" name="name" placeholder="Name" id="name" autocomplete="off" autofocus>
                <label for="name">Name</label>
            </div>
            <div class="input-feedback"></div>
        </div>

        <div class="input-group has-validation" id="emailPanel">
            <div class="floating-input">
                <input type="email" name="email" placeholder="Email" id="email" autocomplete="off">
                <label for="email">Email</label>
            </div>
            <div class="input-feedback"></div>
        </div>

        <div class="panel text-center">
            <button type="button" class="btn btn-primary" onclick="goToTab('tab-2')">Next</button>

            <p>Already have an account? <a href="/login" title="Login">login</a></p>
        </div>
    </section>
    <!--Tab 2: Password-->
    <section id="tab-2" class="tab-content d-none">
        <div class="panel text-center">
            <h1>Enter Password</h1>
        </div>

        <div class="input-group has-validation" id="passwordPanel">
            <div class="floating-input">
                <input type="password" name="password" placeholder="Password" id="password" autocomplete="off">
                <label for="password">Password</label>
            </div>
            <div class="input-feedback"></div>
        </div>

        <div class="input-group has-validation" id="confirmPasswordPanel">
            <div class="floating-input">
                <input type="password" name="confirm_password" placeholder="Confirm Password" id="confirm_password" autocomplete="off">
                <label for="confirm_password">Re-enter Password</label>
            </div>
            <div class="input-feedback"></div>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary" onclick="goToTab('tab-1')">Prev</button>
            <button type="button" class="btn btn-primary" onclick="goToTab('tab-3')">Next</button>
        </div>
    </section>
    <!--Tab 3: OTP Validation-->
    <section id="tab-3" class="tab-content d-none">
        <div class="panel text-center">
            <h1>Validate Email</h1>
        </div>

        <div class="panel text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="#058b5c" class="bi bi-envelope-check-fill" viewBox="0 0 16 16">
                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 4.697v4.974A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-1.965.45l-.338-.207z"/>
                <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686"/>
            </svg>
            <p>Enter OTP sent to your email</p>
        </div>

        <div class="input-group has-validation" id="otpPanel">
            <div class="floating-input">
                <input type="number" name="otp" placeholder="OTP" id="otp" minlength="6" maxlength="6" autocomplete="off">
                <label for="otp">OTP</label>
            </div>
            <div class="input-feedback"></div>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary" onclick="goToTab('tab-2')">Prev</button>
            <button type="button" class="btn btn-primary">Complete</button>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="/static/js/signup.js"></script>
{% endblock %}